<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.belicode.rsmsonline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".onboard.OnboardActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".SplahScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DaftarActivity"
            android:label="Daftar" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListAnggotaKeluarga"
            android:label="Data Keluarga" />
        <activity
            android:name=".InputPasienActivity"
            android:label="Input Pasien" />
        <activity
            android:name=".ListKlinik"
            android:label="Data Klinik" />
        <activity
            android:name=".PilihPasienActivity"
            android:label="Pilih Pasien" />
        <activity
            android:name=".PilihKlik"
            android:label="Pilih Klinik" />
        <activity
            android:name=".InfoAntrian"
            android:label="Info Antrian" />
        <activity android:name=".VerifikasiPasien" />
        <activity
            android:name=".DetailAntrian"
            android:label="Detail Antrian" />
        <activity
            android:name=".VerifikasiAkun"
            android:label="Verifikasi" />
        <activity
            android:name=".DetailKlinik"
            android:label="Detail Klinik" />
        <activity
            android:name=".Bantuan"
            android:label="Bantuan" />
        <activity
            android:name=".TentangApp"
            android:label="Tentang" />
        <activity
            android:name=".Akun"
            android:label="Update Akun" />
        <activity
            android:name=".PilikKlik2"
            android:label="Pilih Klinik" />
        <activity
            android:name=".PanduanActivity"
            android:label="Panduan" />
    </application>

</manifest>